<configuration>

   <system.web>
      <customErrors mode="On" redirectMode="ResponseRewrite">
         <error statusCode="404" redirect="Error" />
      </customErrors>
   </system.web>

   <system.webServer>
      <httpErrors errorMode="Custom">
         <remove statusCode="404"/>
         <error statusCode="404" path="/Error" responseMode="ExecuteURL"/>
      </httpErrors>
   </system.webServer>

</configuration>