<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mmaf_inf</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <!--icon library-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="~/Media/favicon.ico">
</head>
<body>
    <header>
        <nav>
            <a href="/">
                <img src="~/Media/mmaflogo.png" alt="logo" class="logo" width="200"/>
            </a>
            <ul>
                <li> <a href="/blog">blog</a></li>
                <li> <a href="/collection">collection</a></li>
                <li> <a href="/visit">visit</a></li>
                <li> <a href="/studiom">studioM</a></li>
                <li class="searchbar">
                    <form role="search" id="form">
                        <input type="search" id="query" name="q" placeholder="Search..." aria-label="Search through site content">
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"> <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" /> </svg>
                        </button>
                    </form>
                    <script>
                        const f = document.getElementById('form');
                        const q = document.getElementById('query');
                        const google = 'https://www.google.com/search?q=site%3A+';
                        const site = '127.0.0.1:5000'; //yeah ok i got lazy here

                        function submitted(event) {
                        event.preventDefault();
                        const url = google + site + '+' + q.value;
                        const win = window.open(url, '_blank');
                        win.focus();
                        }

                        f.addEventListener('submit', submitted);
                    </script>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--newsletter popup script!! tf happened to the onclick function now??? (15/04/23: removed onclick function in li/a element)-->

    <script>
        function openNewsletterForm() {
            document.getElementById("newsletterPopup").style.display = "block";
        }

        function closeForm() {
            document.getElementById("newsletterPopup").style.display = "none";
        }
    </script>

    <footer>
        <ul>
            <li> <a href="/donate">donate</a></li>
            <li> <a href="/newsletter">newsletter</a></li>
        </ul>
        <p>
            <a href="/about-us">about us</a><br />
            <a href="/careers">careers</a><br />
            <a href="/contact">press & contact</a>
        </p>
        <p style="width: 15vw"></p>
        <div class="socialicons">
            <p>
                <a href="https://facebook.com/" class="fa fa-facebook"></a>
            </p>
            <p>
                <a href="https://twitter.com/" class="fa fa-twitter"></a>
            </p>
            <p>
                <a href="https://instagram.com/" class="fa fa-instagram"></a>
            </p>
            <p>
                <a href="https://youtu.be/dQw4w9WgXcQ" class="fa fa-youtube"></a>
            </p>
            <p style="width: 10vw"></p>
        </div>
    </footer>

</body>
</html>
