<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mmaf_inf</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="~/Media/favicon.ico">
</head>
<body>
    <header>
        <nav>
            <a href="/">
                <img src="~/Media/mmaflogo.png" alt="logo" class="logo" width="200"/>
            </a>
            <ul>
                <li> <a href="/blog">blog</a></li>
                <li> <a href="/collection">collection</a></li>
                <li> <a href="/visit">visit</a></li>
                <li> <a href="/studiom">studioM</a></li>
                <li class="searchbar">
                    <form role="search" id="form">
                        <input type="search" id="query" name="q" placeholder="Search..." aria-label="Search through site content">
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"> <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" /> </svg>
                        </button>
                    </form>
                    <script>
                        const f = document.getElementById('form');
                        const q = document.getElementById('query');
                        const google = 'https://www.google.com/search?q=site%3A+';
                        const site = '127.0.0.1:5000';

                        function submitted(event) {
                        event.preventDefault();
                        const url = google + site + '+' + q.value;
                        const win = window.open(url, '_blank');
                        win.focus();
                        }

                        f.addEventListener('submit', submitted);
                    </script>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <ul>
            <li> <a href="/donate">donate</a></li>
            <li> <a href="/contact#newsletter">newsletter</a></li>
        </ul>
        <p>
            <a href="/about-us">about us</a><br />
            <a href="/careers">careers</a><br />
            <a href="/press">press</a>
        </p>
        <div class="col sqs-col-6 span-6">
            <div class="sqs-block socialaccountlinks-v2-block sqs-block-socialaccountlinks-v2" data-block-type="54" id="block-yui_3_17_2_1_1551096257162_6120">
                <div class="sqs-block-content">
                    <div class="sqs-svg-icon--outer social-icon-alignment-right social-icons-color-white social-icons-size-small social-icons-style-regular ">
                        <nav class="sqs-svg-icon--list">
                            <a href="https://www.facebook.com/" target="_blank" class="sqs-svg-icon--wrapper facebook" aria-label="Taiwan Lacrosse Association">
                                <div>
                                    <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
                                        <use class="sqs-use--icon" xlink:href="#facebook-icon"></use>
                                        <use class="sqs-use--mask" xlink:href="#facebook-mask"></use>
                                    </svg>
                                </div>
                            </a><a href="http://instagram.com/" target="_blank" class="sqs-svg-icon--wrapper instagram" aria-label="Taiwan Lacrosse Association">
                                <div>
                                    <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
                                        <use class="sqs-use--icon" xlink:href="#instagram-icon"></use>
                                        <use class="sqs-use--mask" xlink:href="#instagram-mask"></use>
                                    </svg>
                                </div>
                            </a><a href="https://www.youtube.com/" target="_blank" class="sqs-svg-icon--wrapper youtube" aria-label="">
                                <div>
                                    <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
                                        <use class="sqs-use--icon" xlink:href="#youtube-icon"></use>
                                        <use class="sqs-use--mask" xlink:href="#youtube-mask"></use>
                                    </svg>
                                </div>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
