/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*fixed elements*/

body {
    margin: 0;
    display: inline;
    min-height: 100vh;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: white;
    height: 7vh;
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
}

nav ul {
    float: right;
    margin-right: 23px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: black;
    font-size: 22px;
    text-transform: lowercase;
    padding: 29px 15px;
}

nav a.active, a:hover {
    background: #C4C4C4;
    transition: .3s;
}

.logo {
    width: 167px;
    height: 47px;
    position: absolute;
    top: 10px;
    left: 5px;
    margin-left: 20px;
    margin-top: 8px;
}

/*searchbar*/
input {
    all: unset;
    font: 16px 'Red Hat Display';
    color: black;
    border: black;
    width: 12vw;
    line-height: 80px;
}

button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

svg {
    color: black;
    fill: currentColor;
    width: 40px;
    height: 40px;
    padding-top: 20px;
}

::placeholder {
    font: 14px 'Red Hat Display';
}

footer {
    background: black;
    height: 14vh;
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
    padding: 10px 25px 20px 25px;
    margin-top: 15px;
    display: flex;
}

footer ul {
    float: none;
    margin-right: 23px;
}

footer ul li {
    display: list-item;
    line-height: 63px;
    margin: 0 5px;
}

footer ul li a {
    color: white;
    font-size: 19px;
    text-transform: lowercase;
    padding: 10px 15px;
    background: #545454;
}

newsletterbutton {
    color: white;
    font-size: 19px;
    text-transform: lowercase;
    padding: 10px 15px;
    background: #545454;
}

footer p {
    margin-top: 3vh;
    margin-left: 20px;
    display:inline-flex;
    flex-direction: column;
    align-items:flex-start;
    line-height: 10px;
    text-decoration: none;
    font-size: 17px;
}

footer p a {
    color: white;
}

footer {
    position: page;
    bottom: 0;
    width: 100%;
}
/*font settings*/

h1 {
  font-size: 45px;
  font-family: 'Red Hat Display', sans-serif;
}

h2 {
   font-size: 27px;
   font-family: 'Red Hat Display', sans-serif;
}

h3 {
    font-size: 25px;
    font-family: 'Red Hat Display', sans-serif;
}

p {
    font-size: 19px;
    font-family: 'Red Hat Display', sans-serif;
}

div {
    margin-bottom: 10px;
    display: inline-block;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

    /* The actual popup (appears on top) */
    .popup .popuptext {
        visibility: hidden;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
    }

        /* Popup arrow */
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    /* Toggle this class when clicking on the popup container (hide and show the popup) */
    .popup .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s
    }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/*banners pages*/

.homebanner {
    height: 350px;
    width: 100vw;
    object-fit: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7px 0 20px 0;
}

/*homepage*/

.homebannermain {
    height: 400px;
    width: 100vw;
    object-fit:cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
    margin:0;
}

#homebannermain {
    background: url(~/Media/homepagevid.jpg) no-repeat;
    background-size: cover;
}

.homebannertext {
    text-align:center;
    display:flex;
    align-items:flex-end;
    justify-content:center;
    position:absolute;
    z-index:1;
}

.bluehomepage {
    height: 150px;
    text-align: left;
    display: flex;
    justify-content: left;
    background-color: white;
    padding: 2em;
    margin-top: 2em;
    text-decoration: none;
    flex-direction: column;
    color: black;
}

.bluehomepage:hover {
    background-color: #33d7e1;
    transition: 0.5s;
    color: snow;
}

.greenhomepage {
    height: 150px;
    text-align: right;
    display: flex;
    justify-content: left;
    background-color: white;
    padding: 2em;
    margin-top: 2em;
    text-decoration: none;
    flex-direction: column;
    color: black;
}

.greenhomepage:hover {
    background-color: #bef646;
    transition: 0.5s;
    color: white;
}

.orangehomepage {
    height: 150px;
    text-align: right;
    display: flex;
    justify-content: left;
    background-color: white;
    padding: 2em;
    margin-top: 2em;
    text-decoration: none;
    flex-direction: column;
    color: black;
}

.orangehomepage:hover {
    background-color: #ffb72d;
    transition: 0.5s;
    color: white;
}

.purplehomepage {
    height: 150px;
    text-align: left;
    display: flex;
    justify-content: left;
    background-color: white;
    padding: 2em;
    margin-top: 2em;
    text-decoration: none;
    flex-direction: column;
    color: black;
}

.purplehomepage:hover {
    background-color: #df5ff4;
    transition: 0.5s;
    color: white;
}

.field-content {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 50vw;
    padding-left: 0vw;
    padding-right: 0vw;
    margin-left: 25vw;
    margin-right: 25vw;
}

.collectiongrid {
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px;
    font-size: 19px;
    font-family: 'Red Hat Display', sans-serif;

    align-items: center;
    justify-content: center;
    width: 50vw;
    padding-left: 0vw;
    padding-right: 0vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.detail {
    margin-top: 3vw;
    padding-left: 0vw;
    padding-right: 0vw;
    margin-left: 10vw;
    margin-right: 25vw;
}

.collectiondetailimage {
    height: 500px;
    width: 100vw;
    object-fit: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7px 0 0px 0;
}

/*blog*/

accordion {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 10px;
}

.accordion > input[name="collapse"] {
    position: absolute;
    left: -100vw; /* Behind the scene */
}

.accordion .accordion-content {
    background: #fff;
    overflow: hidden;
    height: 0;
    width: 100%;
    transition: 0.5s;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.accordion label {
    color: #fff;
    cursor: pointer;
    font-weight: normal;
    padding: 10px;
    background: #b0100c;
}

.accordion label:hover,
.accordion label:focus {
    background: #252525;
}

.accordion .handle label:before {
    display: inline-block;
    margin-right: 10px;
    font-size: 1em;
    line-height: 1.556em;
    vertical-align: middle;
    transition: 0.4s;
}

.accordion > input[name="collapse"]:checked ~ .handle label:before {
    transform: rotate(180deg);
    transform-origin: center;
    transition: 0.4s;
}

.accordion > input[name="collapse"]:checked ~ .content {
    height: 380px;
    transition: height 0.5s;
}

/*visit*/



/*studiom*/
.studiombutton {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 20px;
    background: #545454;
    line-height: 40px;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
}

.studiombutton:hover {
    background: #C4C4C4;
    transition: .3s;
}

/*contact forms*/
textarea {
    width: 100px;
    height: 100px;
    resize: vertical;
}

.form-content {
    all: unset;
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 50vw;
    padding-left: 0vw;
    padding-right: 0vw;
    margin-left: 25vw;
    margin-right: 25vw;
}

form-content p {
    all: unset;
    line-height: 5px;
    margin: 0;
}