@model List<string>
@{
    ViewData["Title"] = "Collection";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>collection</title>
</head>
<body>
    <div class="text=center">
        <h1>Alle namen!</h1>
        @foreach(string naam in Model)
        {
            <p>@naam</p>
        }
    </div>
</body>
</html>