@{
    ViewData["Title"] = "Home Page";
}

<div class="homebanner">
    <video width="100vw" height="300px" preload autoplay muted loop class="homebanner">
        <source src="Views/Assets/homepagevid.mp4" type="video/mp4">
    </video>
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg" width=60px style="position:absolute; top:34%; left: 50%; transform: translate(-50%, -50%);"/>
    <h1 class="display-4">Welcome to the Museum of Modern Art and Feeling</h1>
</div>

<a href="https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg">
    <div class="greenhomepage">
      <h2>on display now:</h2>
      <p>21 may 2022 through 21 july 2022</p>
    </div>
</a>

<a href="https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg">
  <div class="bluehomepage">
   <h2>get your tickets:</h2>
   <p>credit card & age discounts valid</p>
  </div>
</a>