@{
    ViewData["Title"] = "Home Page";
}

<div class="homebanner" style="text-align:center">
    <h1 class="display-4">Welcome to the Museum of Modern Art and Feeling</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg" width="60px" style="position:absolute; top:34%; left: 50%; transform: translate(-50%, -50%);"/>
</div>

<a href="https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg">
<div class="bluehomepage"
    <h2>get your tickets:</h2>
    <p>credit card & age discounts valid</p>
</div>
</a>